<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
        <target name="error_file"
                xsi:type="File"
                fileName="./Logs/Error/${date:format=yyyyMM}/${shortdate}.log"
                layout="------------------------------------------------------------------------------${newline}Timestamp:  ${longdate}${newline}level    :  ${level:uppercase=false}${newline}Location :  ${callsite}${newline}Message  :  ${message}${newline}" />
        <target name="info_file"
                xsi:type="File"
                fileName="./Logs/Info/${date:format=yyyyMM}/${shortdate}.log"
                layout="${longdate}> ${message}" />

    </targets>
    <rules>
        <logger name="*"
                minlevel="error"
                writeTo="error_file" />
        <logger name="*"
                levels="info,Warn"
                writeTo="info_file" />
    </rules>
</nlog>